.btn {
  --border-radius: 20px;
  min-width: 250px;
  min-height: 50px;
  text-transform: capitalize;
}

.btn-gray {
  --background: #F5F5FA;
}

.btn-dark-blue {
  --background: #001134;
}

.btn-add {
  height: 75px;
  color: #000;
  text-transform: capitalize;
  --padding-start: 0;
}

.btn-cancel {
  --background: #E8E8F1;
}