$sizes: 10, 12, 14, 16, 18, 20, 22, 24, 25, 26, 28, 30, 34, 36, 40, 48, 50, 75, 180;
$weights: 300, 400, 500, 600, 700, 800;
$amount: 0 0, 1 0.25, 2 0.5, 3 1, 4 1.5, 5 3, auto auto;
$colors: primary, secondary, danger, success, medium, dark, light;

a {
  text-decoration: none;
}

.bg-dark {
  background-color: #000000;
}

.bg-primary {
   --background: var(--ion-color-primary)!important;
   background: var(--ion-color-primary)!important;
}

.bg-light {
   --background: var(--ion-color-light)!important;
   background: var(--ion-color-light)!important;
}

.border-top {
  border-top: 1px solid #EFEFEF;
}

@each $color in $colors {
  .text-#{$color} {
    color: var(--ion-color- + $color); 
  }
}

@each $name, $size in $amount {
  .m-#{$name} {
    margin: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .mt-#{$name},
  .my-#{$name} {
    margin-top: $size + rem !important;
  }
}


@each $name, $size in $amount {
  .mb-#{$name},
  .my-#{$name} {
    margin-bottom: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .mr-#{$name},
  .mx-#{$name} {
    margin-right: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .ml-#{$name},
  .mx-#{$name} {
    margin-left: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .p-#{$name} {
    padding: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .pt-#{$name},
  .py-#{$name} {
    padding-top: $size + rem !important;
  }
}


@each $name, $size in $amount {
  .pb-#{$name},
  .py-#{$name} {
    padding-bottom: $size + rem!important;
  }
}

@each $name, $size in $amount {
  .pr-#{$name},
  .px-#{$name} {
    padding-right: $size + rem !important;
    --padding-end: $size + rem !important;
  }
}

@each $name, $size in $amount {
  .pl-#{$name},
  .px-#{$name} {
    padding-left: $size + rem !important;
    --padding-start: $size + rem !important;
  }
}

@each $size in $sizes {
  .fs-#{$size} {
    font-size: $size + px !important; 
  }
}

@each $weight in $weights {
  .fw-#{$weight} {
    font-weight: $weight !important;
  }
}

@each $size in $sizes {
  .icon-#{$size} {
    width: $size + px;
  }
}