.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  ion-button {
    --box-shadow: none;
    --border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 30px 10px 30px;
  }
}

.floating-logo {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 40px;
  top: 40px;
}

.about-card {
  border-radius: 10px;
  height: 560px;

  > div {
    padding: 30px;
  }

  &#cashAdvance {
    background-color: #C2C2FC;
    background-image: url(../../../assets/images/cash-advance.png);
    background-size: 290px;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  &#stocksBonds {
    background-color: #FFCE3B;
    background-image: url(../../../assets/images/stocks-bonds.png);
    background-size: 290px;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  &#bankroll {
    background-color: #9ECFFF;
    background-image: url(../../../assets/images/bankroll.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  &#crypto {
    background-color: #C1D6D4;
    background-image: url(../../../assets/images/stocks-bonds.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description {
    font-weight: 900;
    font-size: 24px;
    margin: 24px 0;
  }

  ion-button {
    --border-radius: 50px;
    --box-shadow: none;
    text-transform: none;
    height: 60px;
    font-size: 16px;
  }
}