/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/buttons.scss";
@import "./theme/lists.scss";
@import "./theme/cards.scss";
@import "./theme/custom-class.scss";

* {
  font-family: "Metropolis", sans-serif;
}

ion-content {
  --background: #F5F5FA;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

 .sidemenu-container {
  width: 330px;
}

.content-container {
  width: calc(100% - (340px * 2));
  padding: 1rem;

  .container {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .savings-container {
    background: #C8D7E3;
  }

  .balance-container {
    background-color: #fff;
  }

  .balance-container, .savings-container {
    border-radius: 10px;
    padding: 40px 24px;

    .amount-balance {
      font-size: 48px;
      margin: 10px 0;
    }
  }
}

.sidemenu-container {
  
  .user-profile {
    padding: 1rem;
    text-align: center;
    width: 95%;

    img {
      border-radius: 50%;
    }

    .user-name {
    font-family: "Metropolis", sans-serif;
      font-weight: 600;
      margin: 10px 0;
    }

    .user-id {
      background-color: #E8E8F1;
      border-radius: 50px;
      padding: 16px 20px;
      width: 220px;
      margin: 0 auto;
    }
  }

  .menu-links {
    padding-left: 0;
    list-style: none;

    li {
      padding: 18px 40px;
      border-left: 4px solid transparent;

      &.active {
        border-color: var(--ion-color-primary);

        svg path {
          fill: var(--ion-color-primary);
        }

        a {
          color: var(--ion-color-primary);
        }
        
      }

      a {
        text-decoration: none;
        color: #000;
      }

      svg {
        margin-right: 1.5rem;
        vertical-align: middle;
      }

      span {
        font-size: 14px;
      }
    }
  }
}

.label {
  font-size: 14px;
}

.text-gray {
  color: #8A959E;
}

.page-header {
  min-height: 60px;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--ion-color-medium);
  padding: 20px;

  &.no-header {
    border-bottom: none !important;
  }
  .title {
      color: var(--ion-color-medium);
      text-align: left;
      font-size: 12px;
  }
}

.form {
  ion-label {
    --color: var(--ion-color-medium) !important;
    &.item-has-focus {
      --color: var(--ion-color-medium) !important;
    }
  }
  ion-input {
    font-weight: 600;
    --color: var(--ion-color-primary);
  }
  ion-item {
    --color-activated: var(--ion-color-medium);
    --highlight-color-focused: #FFAE00;
  }
  .item-has-focus .label-stacked {
    color: var(--ion-color-medium) !important;
  }
}